


/* properties set for all content */
* {
    
    box-sizing: border-box;
    background-color:burlywood;
    
  }




header {

    color:cornsilk ;
    display: flex;
    justify-content: space-between;
    
    
}
.main-description h1{
    padding-right: 100px;


}
.main-description p{
    text-align:right;
    

}
section.intro{
    padding-top: 200px;
    display: block;
}

.intro{
    display:flex;

}
.intro p{
    text-align: center;
}
.intro h1{
    font-size: 38px;
    text-align: left;
}
.intro h1,p{
    display:inline;
    
}


.hero-section{
   background-image: URL("Portfolio/assets/css/images/code.jpg");
    
}


   
    







/* ul navigation styling */
header ul li{
list-style: none;
font-size: 24px;
display: inline;
padding: 20px 35px;
color:whitesmoke;
}
header ul li a{
    color: cornsilk;
}
header nav a:hover{
    color:darkred;
}

body p{
    
    position: relative;
    line-height: 1.7;
    vertical-align: auto;

}




/* footer styling */

footer div a {
    display:flex;
    display:inline;
    justify-content: space-between;
    text-align: right;
}



/* About Me title properties */



.main-description{
  display: inline;

}


.work-title h1{
    width: 100px;
    height:100px;
    border-right: darkred;
    font-size: 38px;

}




.contact-title{
    font-size: 38px;

}
.reach-out{
    display:flex;
    justify-content: space-between;
}

.work-title{
    text-align: top;
    
}
.work-title h1{
    border-right: solid 5px darkred;
}
.content{ 
height:500px;
  width: auto;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  

}

.content h1{
    text-align: left;
}
.small-box{
    outline: solid red;
    width:100px;
    }
.content.small-box div{
    outline: solid red;
    width: 80px;
    
}

.content h1{
    text-align: center;

}














