
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }




header {

    color:royalblue;
    display: flex;
    justify-content: space-between;
}

header ul li{
list-style: none;
font-size: 24px;
display: inline;
padding: 20px 35px;
}

.sub-title{
    float:right;
}

.hero{
    
background-image: url("Portfolio/assets/images/code-image.jpg") ;
   

}