
* {
    
    box-sizing: border-box;
  }




header {

    color:darkblue ;
    display: flex;
    justify-content: space-between;
    
}


header ul li{
list-style: none;
font-size: 24px;
display: inline;
padding: 20px 35px;
color: darkblue;
}




footer div a {
    display:flex;
    display:inline;
    justify-content: space-between;
    text-align: right;
}





